 [*.{kt,kts}]
ktlint_code_style = ktlint_official
no-wildcard-imports = true

# Disable invalid character in package name check due to `when` package in testing
ktlint_standard_package-name = disabled

max_line_length = 200

[target/**/*]
ktlint = disabled
